
header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}


main{
	width: 940px;
	margin: 0 auto;
}
form{
	margin: 40px 0;
}

form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
.checkbox{
	margin: 10px 0;
}
.enviar{
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-size: 18px;
	border-radius: 5px;
	border: none; 
	transition: 1s background; /*transition: 1s all;*/ 
	cursor: pointer;
}
.enviar:hover{
	background: red;
	transform: rotate(30deg);/*transform: scale(1,2); aumenta tudo ao passar o mouse*/
}
table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	font-weight: bold;
	color: white; 
}
td, th{
	/*ítem da minha tabela*/
	/*<tr>
    <td colspan="5">Rio de Janeiro</td> -- agrupando células
    </tr>*/
	border: 1px solid #000000;
	padding: 8px 15px;
}
/*A tag table, que representa a tabela
A tag tr, que representa a linha da tabela
A tag td, que representa a célula da tabela
A tag thead, que representa o cabeçalho da tabela
A tag tbody, que representa o corpo da tabela
A tag th, que representa a célula do cabeçalho da tabela
A tag tfoot, que representa o rodapé da tabela*/

/*Como fazer um degradê de cinco cores em um elemento?
background: linear-gradient(gray, yellow, red, orange, blue)*/

/*Pseudo-classes*/

/* itens: last child
		  first child
		  nth- child (selecionar qualquer elemento da lista) exemplo (4) selecionar o quarto elemento
		  nth - child (2n) pegar todos os pares do elemento*/


/* selecionando o primeiro filho - paragrafo do main css
main > P{
	background: red;
}*/
/* selecionando o primeiro paragrafo ( irmão ) depois de imagem
img + p{
	background: blue;
}*/
/* selecionando o tio 
img ~ p {
	background: yellow;
}*/
/* selecionar todos os paragrafos exceto...
.principal p:not(missao){
background: orange;
}*/
/* Como fazemos para selecionar o último <h2>?
<h2>
<section>
    <h2>
    <p>
    <p>
    <h2>
    -- section > p + h2-- 
    Alternativa correta! O último h2 é filho direto da section e irmão do p. */

    /* calculando tamanho de imagem no css3
    width: calc (40% - ((26px *4)/4 ));
    */
    /* Como usar as medidas proporcionais para deixar um elemento de 100% de 
    largura com o equivalente a um terço do elemento pai, menos 10px?

    width: calc( (100% / 3) - 10px ) 
    Alternativa correta! Essa é uma forma mais complexa, não precisa dessa primeira conta!
    ----
    width: calc( 33% - 10px )
    Alternativa correta! Essa é a forma mais direta! */
    /* COLOCANDO SOMBRAS
    box shadow : 10px  10px 30px 20px #000000, -10px -10px yellow, -20px 20px rgba(255,0,0,0.5);*/
    /* COLOCANDO SOMBRA EM TEXTO
    text shadow:2px 2px #FF0000; vermelho 
    */
    /* box-shadow: -3px -3px 5px black;
    Alternativa errada! Essa seria uma sombra normal, mas começando no eixo X e Y com medida negativa.
    */
    /* box-shadow: inset 0 0 5px black;
    Alternativa correta! Sombra interna, preta, com 5px de espalhamento.*/
    /* 

